.form-instance {
  display: flex;
  flex-direction: column;
}

.stepper-background {
  border: 1px solid black;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: max-content;
  grid-auto-rows: auto;
  min-height: 100px;
  //   overflow: auto;
  //   grid-auto-columns: 10%;

  //   grid-template-columns: minmax(15%, 1fr) minmax(100px, 1fr);

  gap: 0;
  align-items: center;
  justify-items: center;

  .stepper-group {
    padding: 20px 0;
    will-change: transform;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      // width: calc(100% / 4);
      height: 70px;
      width: 70px;

      &.enabled {
        background: blue;
        color: yellow;
      }
      &.disabed {
        background: white;
        color: unset;
      }
      &.select {
        background: yellowgreen;
        color: black;
      }
      z-index: 3;
    }
  }
  .enabled-line {
    // border: none;
    border-bottom: 1px solid black;
  }
  .enabled-line,
  .default-line {
    // margin-top: 25px;
    z-index: 2;
    height: 1px;
    margin-left: 1rem;
    position: absolute;
    top: 50px;
  }
  .default-line {
    border-bottom: 1px solid red;
  }
}

.stepper-button {
  display: grid;
  grid-template-columns: auto auto;
  width: 200px;
  button {
    position: relative;
    margin: 20px;
    height: 50px;
  }
}
.title-of-step {
  padding: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  .stepper-background {
    grid-template-columns: auto;
  }
}
